@font-face {
  font-family: "iconfont"; /* Project id 5187611 */
  src: url('iconfont.woff2?t=1780304490333') format('woff2'),
       url('iconfont.woff?t=1780304490333') format('woff'),
       url('iconfont.ttf?t=1780304490333') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e839";
}

.icon-plus1:before {
  content: "\e6f6";
}

.icon-question-circle:before {
  content: "\e782";
}

.icon-component:before {
  content: "\e600";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-database:before {
  content: "\e7e8";
}

.icon-layers-1--design-layer-layers-pile-stack-align:before {
  content: "\e7ad";
}

.icon-calculate:before {
  content: "\e633";
}

.icon-import1:before {
  content: "\e6c9";
}

.icon-import:before {
  content: "\ecb8";
}

.icon-save:before {
  content: "\e791";
}

